.myBG {
  min-height: 100vh;
  background: url(../img/introBG.jpg);
}
.nav-brand {
  font-weight: 5px;
  font-size: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.nav-link {
  text-decoration: none;
}
.intro {
  height: 50vh;
  display: flex;
  justify-content: end;
  align-items: end;
}

.title {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1;
  text-shadow: 2px 2px black;
  letter-spacing: 4px;
}
/* 
.movieList {
  height: auto;
  background: url(./assets/images/bg/main.jpg);
  background: orange;
} */
.movieCard {
  margin: 1.5rem;
}
.movieInfo {
  height: 5rem;
  align-items: center;
}

.movieImage {
  width: auto;
  object-fit: cover;
  background-color: black;
}
